# DisplayBoard Development Environment Variables
APP_ENV=development

# Set the config file to use
APP_CONFIG=configs/development.yaml

# Access key to view the web site
WEBSITE_ACCESS_KEY=

# OpenWeatherMap API key
OWM_API_KEY=op://Dev/OpenWeatherMapPaid/APIKey

# API access query for PowerController query
PC_DATAAPI_ACCESS_KEY=op://Dev/PowerController/DataAPIKey

# Unsplash and Pexels API keys for fetching images
UNSPLASH_ACCESS_KEY=op://Dev/Unsplash/AccessKey
PEXELS_ACCESS_KEY=op://Dev/Pexels/DisplayBoardAPIKey
