# DisplayBoard Production Environment Variables
APP_ENV=production

# Set the config file to use
APP_CONFIG=configs/production.yaml

# STMP credentials
SMTP_SERVER=op://Dev/Gmail SMTP/SMTPServer
SMTP_USERNAME=op://Dev/Gmail SMTP/username
SMTP_PASSWORD="op://Dev/Gmail SMTP/password"
SMTP_SEND_TO_EMAIL=op://Dev/Gmail SMTP/SendTo

# Access key to view the web site
WEBSITE_ACCESS_KEY=op://Dev/DisplayBoard/ViewerAccessKey

# OpenWeatherMap API key
OWM_API_KEY=op://Dev/OpenWeatherMapPaid/APIKey

# API access query for PowerController query
PC_DATAAPI_ACCESS_KEY=op://Dev/PowerController/DataAPIKey

# Unsplash and Pexels API keys for fetching images
UNSPLASH_ACCESS_KEY=op://Dev/Unsplash/AccessKey
PEXELS_ACCESS_KEY=op://Dev/Pexels/DisplayBoardAPIKey
